<%= render "layouts/nav_bar.html.erb" %>


<div class="lookbook-container">

  <%= render "layouts/sidebar.html.erb" %>


  <div class="about-container">
    <%= image_tag 'stickers.jpg' %>
  <div class="about-text">
    <p style="margin-top:0px;">
    Chauncey and Coco is a collection of small batch handmade products that blend particular form and function,
    designed by a team of siblings based in Houston, Texas. Inspired by the rhythm of our city,
    we create everything with the hands that we are blessed with in the home that we share,
    and aim to give back as much as we can along the way.
    </p>

    <p>Live well and love yourself,</p>

    <p>Thanks for stopping by.</p>
  </div>

  </div>

</div>

<div class="footer-container">
  <div class="follow">
    <p style=color:#888888>
      Follow Us
    </p>
    <p>
      <a href="http://instagram.com/chaunceyandcoco" target="_blank">
        <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
      </a>
    </p>
  </div>
  <div class="footer">
    <%=link_to policies_path do%>POLICIES<%end%> &copy; chaunceyandcoco.com All Rights Reserved

  </div>

</div>
