<%= render "layouts/nav_bar.html.erb" %>

<div class="lookbook-container">

  <%= render "layouts/sidebar.html.erb" %>

  <div class="contact-container">
    <p style="font-weight:bold; margin-bottom:50px;font-family:Helvetica">Holla at us.</p>
    <p class="contact-p">We are happy to hear from our customers and any visitors to the site.</p>
    <p class="contact-p">chaunceyandcoco@gmail.com</p>
    <p class="contact-p">We'll be in touch</p>
  </div>
</div>

<div class="footer-container">
  <div class="follow">
    <p style=color:#888888>
      Follow Us
    </p>
    <p>
      <a href="http://instagram.com/chaunceyandcoco" target="_blank">
        <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
      </a>
    </p>
  </div>
  <div class="footer">
    <%=link_to policies_path do%>POLICIES<%end%> &copy; chaunceyandcoco.com All Rights Reserved

  </div>

</div>
