<div class="header">
  <%=link_to root_path do%>
  <div class="header-title-container">
    <p class="header-title">
      CHAUNCEY AND COCO
    </p>
    <p class="header-subtitle">
      <%= image_tag 'logo.png' %>
      Handmade in HTX
      <%= image_tag 'logo.png' %>
    </p>
  </div>
  <%end%>
</div>
